In [60]:
import pandas as pd
import datetime as dt
from sklearn.preprocessing import LabelEncoder

In [30]:
df1 = pd.read_csv(r'C:\wheaterpred\dataset\train (2).csv')

In [31]:
df2 = pd.read_csv(r'C:\wheaterpred\dataset\test.csv')

In [32]:
data = pd.concat([df1,df2],axis=0)

In [33]:
data.reset_index(inplace=True)

In [34]:
data.isnull().sum()

index                         0
Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Cloud Cover                   0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [37]:
data['Precip Type']=data['Precip Type'].fillna(0)

In [38]:
data['Precip Type'].replace({0:'rain'},inplace=True)

In [39]:
data.isnull().sum()

index                       0
Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Cloud Cover                 0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [48]:
data['Formatted Date'] = pd.to_datetime(data['Formatted Date'],utc=True)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     96453 non-null  int64
 1   Formatted Date            96453 non-null  datetime64[ns, UTC]
 2   Summary                   96453 non-null  object
 3   Precip Type               96453 non-null  object
 4   Temperature (C)           96453 non-null  float64
 5   Apparent Temperature (C)  96453 non-null  float64
 6   Humidity                  96453 non-null  float64
 7   Wind Speed (km/h)         96453 non-null  float64
 8   Wind Bearing (degrees)    96453 non-null  int64
 9   Visibility (km)           96453 non-null  float64
 10  Cloud Cover               96453 non-null  int64
 11  Pressure (millibars)      96453 non-null  float64
 12  Daily Summary             96453 non-null  object
dtypes: datetime64[ns, UTC](1), float64(6), int64(3), object(3)
memory usage: 9.6+ MB

In [50]:
data.drop(['Cloud Cover'],axis=1,inplace=True)

In [52]:
data.drop(['index'],axis=1,inplace=True)

In [55]:
data['year'] = data['Formatted Date'].dt.year
data['month_name'] = data['Formatted Date'].dt.month_name()
data['day'] = data['Formatted Date'].dt.day
data['month'] = data['Formatted Date'].dt.month

In [57]:
data.to_csv('Analysis.csv',index=False)

In [65]:
len(data['Daily Summary'].unique())

214

In [66]:
data['Daily Summary'].value_counts()

Daily Summary
Mostly cloudy throughout the day.                                                                       20085
Partly cloudy throughout the day.                                                                        9981
Partly cloudy until night.                                                                               6169
Partly cloudy starting in the morning.                                                                   5184
Foggy in the morning.                                                                                    4201
                                                                                                        ...
Breezy starting overnight continuing until morning and foggy overnight.                                    24
Mostly cloudy throughout the day and breezy starting overnight continuing until afternoon.                 24
Partly cloudy starting in the morning and breezy starting in the afternoon continuing until evening.       24
Rain until afternoon.                                                                                      24
Foggy starting overnight continuing until morning and breezy in the afternoon.                             23
Name: count, Length: 214, dtype: int64

In [58]:
data.drop(['Formatted Date','month_name'],axis=1,inplace=True)

In [61]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [62]:
data['Summary_encode'] = lb.fit_transform(data['Summary'])
data['Precip_encode'] = lb.fit_transform(data['Precip Type'])
data['daily_encode'] = lb.fit_transform(data['Daily Summary'])

In [63]:
data

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,year,day,month,Summary_encode,Precip_encode,daily_encode
0,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.,2006,31,3,19,0,197
1,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.,2006,31,3,19,0,197
2,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.,2006,1,4,17,0,197
3,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.,2006,1,4,19,0,197
4,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.,2006,1,4,17,0,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.,2016,9,9,19,0,170
96449,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.,2016,9,9,19,0,170
96450,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.,2016,9,9,19,0,170
96451,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.,2016,9,9,19,0,170
96452,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.,2016,9,9,19,0,170

In [67]:
data.to_csv('weathetml.csv')